<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <meta name="author" content="{{ site.author }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- <link rel="alternate" type="application/rss+xml" href="/atom.xml" /> -->
  <link href="/vendor/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.4.1/dist/bootstrap-toc.min.css">

  <link href="/vendor/css/font-awesome.min.css" rel="stylesheet">
  <link href="/vendor/css/academicons.min.css" rel="stylesheet">
  <link href="/vendor/pygments/default.css" rel="stylesheet">
  <link href="/css/website.css" rel="stylesheet">
  <link href="/css/sharingbuttons.css" rel="stylesheet">
  <script type="text/javascript" src="/vendor/js/jquery.min.js"></script>
  <script type="text/javascript" src="/vendor/js/bootstrap.min.js"></script>
  <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.4.1/dist/bootstrap-toc.min.js"></script>
  <script type="text/javascript" src="/vendor/js/jquery.toc.js"></script>

    <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#311e3e">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#311e3e">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#311e3e">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  
</head>
<body >
  
	<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #24292e">
      <div class="container">
        <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="font-size: 1.5em">Siddharth Kumar</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/projects">Projects</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" style="font-size: 1.5em">
            <li>
			    <a href="http://github.com/sidkuma24" target="_blank">
			    <i class="fa fa-lg fa-github"></i></a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/siddharthkumar24/" target="_blank">
					<i class="fa fa-lg fa-linkedin"></i>
				</a>
			</li>
			<li>
			<a href="https://www.facebook.com/sidkuma24" target="_blank">
				<i class="fa fa-lg fa-facebook"></i></a>
			</li>
          </ul>
        </div><!--/.nav-collapse -->
    	</div>
       </div>
      </div>
    </nav>
<!-- <div class="col-md-10 col-md-offset-1"> -->

 <br/>
<div class="container">
<div class="row">
<div class="col-md-10">
  {{ content }}
</div>
<div class="col-md-2">
<h4>Categories</h4>

<ul style="margin-left:-20px;">
{% assign categories_list = site.categories %}
  {% if categories_list.first[0] == null %}
    {% for category in categories_list %}
      <li><a href="#{{ category }}">{{ category | capitalize }} ({{ site.tags[category].size }})</a></li>
    {% endfor %}
  {% else %}
    {% for category in categories_list %}
      <li><a href="#{{ tag[0] }}">{{ category[0] | capitalize }} ({{ category[1].size }})</a></li>
    {% endfor %}
  {% endif %}
{% assign categories_list = nil %}
</ul>

{% for tag in site.categories %}
  <h5 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h5>
  <ul style="margin-left:-20px;">
    {% assign pages_list = tag[1] %}
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}
</div>
</div>
</div>

<!-- 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src=https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
 <script type="text/javascript">
 $("#toc").toc({
       'headings': 'h2,h3'
   });
</script>
<script id="dsq-count-scr" src="//sidkuma24-github-io.disqus.com/count.js" async></script>
</body>

</html>
